body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-evenly;
  background: #282c37;
}

.main {
  width: 70%;
  height: 65%;
  border-radius: 2rem;
  background: #595c6b;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .text {
  margin-top: 5rem;
  width: 70%;
  height: 100%;
  font-size: 10rem;
  color: #595c6b;
  opacity: 0.1;
  font-family: helvetica;
  font-weight: bold;
  text-align: center;
  color: #f3f3f3;
}

.main .text .price {
  font-size: 3rem;
  position: relative;
  top: 12rem;
  left: 8rem;
}

.main .inner {
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: inherit;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .inner .left {
  width: 50%;
  height: auto;
  pointer-events: none;
}

.main .inner .left .shoe {
  animation: shoescale 1.6s alternate ease-in-out infinite;
}

.main .inner .left .shoe img {
  filter: brightness(1.3);
  margin-top: 2.2rem;
  margin-left: 8rem;
  transform: rotate(40deg) translate(-25%, 25%);
}

@keyframes shoescale {
  from {
    transform: scale(0.97);
  }
  to {
    transform: scale(1);
    transform: translateY(40px);
  }
}

.main .right {
  width: 50%;
  height: 100%;
  flex: 1;
}

.main .right .top {
  margin-top: 1rem;
  width: 100%;
  height: auto;
  position: relative;
}

.main .right .top .nike {
  font-family: helvetica;
  font-weight: bold;
  text-align: center;
  color: #f3f3f3;
  font-size: 2.6rem;
  color: #93d217;
  margin-left: -17rem;
}

.main .right .top .fly {
  font-family: helvetica;
  font-weight: bold;
  text-align: center;
  color: #f3f3f3;
  margin-left: -2rem;
  font-size: 4rem;
}

.main .right .top .one {
  position: absolute;
  right: 3rem;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: blue;
  margin-right: 1rem;
  top: 2rem;
  background: #93d217;
}

.main .right .top .two {
  position: absolute;
  right: 3rem;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: blue;
  margin-right: 3rem;
  top: 4rem;
  background: #93d217;
}

.main .right .top .three {
  position: absolute;
  right: 3rem;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: blue;
  margin-right: 1rem;
  top: 5rem;
  background: #93d217;
}

.mid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 1.8rem;
}

.mid .tp {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}

.mid .tp .icn {
  color: #93d217;
}

.mid .tp h4 {
  font-family: helvetica;
  font-weight: bold;
  text-align: center;
  color: #f3f3f3;
  margin-left: 1rem;
}

.mid .mn {
  font-family: helvetica;
  font-weight: bold;
  text-align: center;
  color: #f3f3f3;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  transform: scale(0.8);
  opacity: 0.85;
  margin-top: -0.8rem;
}

.mid .nav {
  width: 100%;
  margin-top: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  margin-left: 8rem;
}

.mid .nav .one {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background: #282c37;
  font-family: helvetica;
  font-weight: bold;
  text-align: center;
  color: #f3f3f3;
  margin: 6px;
  padding: 5px;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.mid .nav .one:hover {
  background: #93d217;
  transform: scale(1.1);
}

.mid .price {
  margin-top: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  margin-left: 17rem;
}

.mid .price h2 {
  font-family: helvetica;
  font-weight: bold;
  text-align: center;
  color: #f3f3f3;
}

.mid .price .btn {
  font-family: helvetica;
  font-weight: bold;
  text-align: center;
  color: #f3f3f3;
  width: 40%;
  height: 30px;
  background: #93d217;
  border-radius: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  margin-left: 2rem;
  transition: all 0.2s ease-in-out;
}

.mid .price .btn:hover {
  transform: scale(1.05);
}
/*# sourceMappingURL=style.css.map */